## Model Training

## 1.1 Import Data and Required Packages
### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [3]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Modelling
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression, Ridge
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings("ignore")

## Import the CSV Data as Pandas DataFrame

In [4]:
df = pd.read_csv('data/cleaned_breast_cancer.csv')

### Show Top 5 Records

In [5]:
df.head()

,mean radius,mean perimeter,mean area,mean concavity,mean concave points,worst radius,worst perimeter,worst area,worst concavity,worst concave points,target
0,17.99,122.80,1001.0,0.3001,0.14710,25.38,184.60,2019.0,0.7119,0.2654,0
1,20.57,132.90,1326.0,0.0869,0.07017,24.99,158.80,1956.0,0.2416,0.1860,0
2,19.69,130.00,1203.0,0.1974,0.12790,23.57,152.50,1709.0,0.4504,0.2430,0
3,11.42,77.58,386.1,0.2414,0.10520,14.91,98.87,567.7,0.6869,0.2575,0
4,20.29,135.10,1297.0,0.1980,0.10430,22.54,152.20,1575.0,0.4000,0.1625,0

#### Preparing X and Y variables

In [6]:
X = df.drop(columns=['target'],axis=1)

In [7]:
X.head()

,mean radius,mean perimeter,mean area,mean concavity,mean concave points,worst radius,worst perimeter,worst area,worst concavity,worst concave points
0,17.99,122.80,1001.0,0.3001,0.14710,25.38,184.60,2019.0,0.7119,0.2654
1,20.57,132.90,1326.0,0.0869,0.07017,24.99,158.80,1956.0,0.2416,0.1860
2,19.69,130.00,1203.0,0.1974,0.12790,23.57,152.50,1709.0,0.4504,0.2430
3,11.42,77.58,386.1,0.2414,0.10520,14.91,98.87,567.7,0.6869,0.2575
4,20.29,135.10,1297.0,0.1980,0.10430,22.54,152.20,1575.0,0.4000,0.1625

In [8]:
y = df['target']

In [9]:
y

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: target, Length: 569, dtype: int64

In [10]:
X.shape

(569, 10)

In [11]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42)
X_train.shape, X_test.shape

((426, 10), (143, 10))

## Normalize the Data

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

## Create an Evaluate Function to give all metrics after model Training

In [13]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, mse, rmse, r2_square

In [14]:
models = {
    "Logistic Regression": LogisticRegression(),
    "Ridge Classifier": Ridge(),
    "SVM Classifier": SVC(),
    "K-Neighbors Classifier": KNeighborsClassifier(),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Random Forest Classifier": RandomForestClassifier(),
    "XGB Classifier": XGBClassifier(), 
    "CatBoosting Classifier": CatBoostClassifier(verbose=False),
    "AdaBoost Classifier": AdaBoostClassifier(),
    "Gradient Boosting Classifier": GradientBoostingClassifier()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Mean Squared Error: {:.4f}".format(model_train_mse))
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Mean Squared Error: {:.4f}".format(model_test_mse))
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Logistic Regression
Model performance for Training set
- Mean Squared Error: 0.0399
- Root Mean Squared Error: 0.1998
- Mean Absolute Error: 0.0399
- R2 Score: 0.8290
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0280
- Root Mean Squared Error: 0.1672
- Mean Absolute Error: 0.0280
- R2 Score: 0.8810
===================================


Ridge Classifier
Model performance for Training set
- Mean Squared Error: 0.0665
- Root Mean Squared Error: 0.2578
- Mean Absolute Error: 0.2035
- R2 Score: 0.7152
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0629
- Root Mean Squared Error: 0.2509
- Mean Absolute Error: 0.2010
- R2 Score: 0.7322
===================================


SVM Classifier
Model performance for Training set
- Mean Squared Error: 0.0469
- Root Mean Squared Error: 0.2167
- Mean Absolute Error: 0.0469
- R2 Score: 0.7988
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0280
- Root Mean Squared Error: 0.1672
- Mean Absolute Error: 0.0280
- R2 Score: 0.8810
===================================


K-Neighbors Classifier
Model performance for Training set
- Mean Squared Error: 0.0493
- Root Mean Squared Error: 0.2220
- Mean Absolute Error: 0.0493
- R2 Score: 0.7887
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0350
- Root Mean Squared Error: 0.1870
- Mean Absolute Error: 0.0350
- R2 Score: 0.8512
===================================


Decision Tree Classifier
Model performance for Training set
- Mean Squared Error: 0.0000
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0559
- Root Mean Squared Error: 0.2365
- Mean Absolute Error: 0.0559
- R2 Score: 0.7620
===================================

Random Forest Classifier
Model performance for Training set
- Mean Squared Error: 0.0000
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0420
- Root Mean Squared Error: 0.2048
- Mean Absolute Error: 0.0420
- R2 Score: 0.8215
===================================


XGB Classifier
Model performance for Training set
- Mean Squared Error: 0.0000
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0629
- Root Mean Squared Error: 0.2509
- Mean Absolute Error: 0.0629
- R2 Score: 0.7322
===================================


CatBoosting Classifier
Model performance for Training set
- Mean Squared Error: 0.0047
- Root Mean Squared Error: 0.0685
- Mean Absolute Error: 0.0047
- R2 Score: 0.9799
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0350
- Root Mean Squared Error: 0.1870
- Mean Absolute Error: 0.0350
- R2 Score: 0.8512
===================================


AdaBoost Classifier
Model performance for Training set
- Mean Squared Error: 0.0000
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0420
- Root Mean Squared Error: 0.2048
- Mean Absolute Error: 0.0420
- R2 Score: 0.8215
===================================


Gradient Boosting Classifier
Model performance for Training set
- Mean Squared Error: 0.0000
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Mean Squared Error: 0.0420
- Root Mean Squared Error: 0.2048
- Mean Absolute Error: 0.0420
- R2 Score: 0.8215
===================================

## Results

In [15]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                     Model Name  R2_Score
0           Logistic Regression  0.880982
2                SVM Classifier  0.880982
3        K-Neighbors Classifier  0.851228
7        CatBoosting Classifier  0.851228
5      Random Forest Classifier  0.821473
8           AdaBoost Classifier  0.821473
9  Gradient Boosting Classifier  0.821473
4      Decision Tree Classifier  0.761964
6                XGB Classifier  0.732210
1              Ridge Classifier  0.732192

## Logistic Regression

In [16]:
lin_model = LogisticRegression(fit_intercept=True)
lin_model = lin_model.fit(X_train, y_train)
y_pred = lin_model.predict(X_test)
score = r2_score(y_test, y_pred)*100
print(" Accuracy of the model is %.2f" %score)

 Accuracy of the model is 88.10

## Confusion Matrix and Classification Report

In [17]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_test,y_pred))

[[53  1]
 [ 3 86]]

In [18]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.95      0.98      0.96        54
           1       0.99      0.97      0.98        89

    accuracy                           0.97       143
   macro avg       0.97      0.97      0.97       143
weighted avg       0.97      0.97      0.97       143

## Difference between Actual and Predicted Values

In [19]:
pred_df=pd.DataFrame({'Actual Value':y_test,'Predicted Value':y_pred,'Difference':y_test-y_pred})
pred_df

     Actual Value  Predicted Value  Difference
204             1                1           0
70              0                0           0
131             0                0           0
431             1                1           0
540             1                1           0
..            ...              ...         ...
89              1                0           1
199             0                0           0
411             1                1           0
18              0                0           0
390             1                1           0

[143 rows x 3 columns]